<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-4 offset-4 card bg-light">
        <h1 class="card-header border-bottom text-center">New List</h1>
    <div class=" container card-body">
        <form action="/<%= currentUser.username%>/lists" method="POST">
            <div class="row mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text rounded-0" >Name</span>
                    </div>
                    <input type="text" class="form-control" name="list[name]" id="title">
                  </div>
            </div>
            <div class="row mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text rounded-0" >Cover URL</span>
                    </div>
                    <input type="text" class="form-control" name="list[coverUrl]" id="coverUrl">
                  </div>
            </div>
            <div class=" row mb-3">
                <div class="col-1">
                    <label class="form-label" for="type">Type</label>
                </div>
                <div class="col-11">
                    <div class="form-check d-flex justify-content-start align-items-center ">
                        <input class="form-check-input mx-2" type="radio" name="type" value="Books" checked>
                        <label class="form-check-label me-3" for="0"> Books</label>
                    </div>  
                    <div class="form-check d-flex justify-content-start align-items-center ">
                        <input class="form-check-input mx-2" type="radio" name="type" value="Movies" >
                        <label class="form-check-label me-3" for="1"> Movies</label>
                    </div>  
                    <div class="form-check d-flex justify-content-start align-items-center mb-3">
                        <input class="form-check-input mx-2" type="radio" name="type" value="Tv Shows" >
                        <label class="form-check-label me-3" for="2"> Tv Shows</label>
                    </div>  
                </div>
            </div>
            <div class="row mb-3">
                <button class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
    </div>
</div>