<% layout('/layouts/boilerplate') %>
<div class="d-flex">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="row">
            <div class="input-group test">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
            </div>
        </div>
    </div>
</div>