<% layout('/layouts/boilerplate') %>
<div class="d-flex">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="row">
            <form class="input-group needs-validation" action="/books/search" method="POST" novalidate>
                <input type="text" class="form-control rounded" name="searchKey" id="searchKey" placeholder="Search" required>
                <button type= "submit" class="btn btn-outline-primary">search</button>
            </form>
        </div>
    </div>
</div>
