
.modal-img{
  height: 40vh;
  object-fit:contain;
}
.sel{
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.list {
  position:relative;
  display:inline-block;
}

.list:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
}
.list img{
  display:block;
}

.card-img-top{
    height: 40vh;
    object-fit:cover;
}

.text-truncate-container {
    width: 100%;
}
.text-truncate-container p {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.bookImg{
  height: 50vh;
}
.card-header{
  position: relative;
  padding: 0;
  border-bottom: 0;
}
.pfp{
 
  position: absolute; 
 z-index:1;
}
.pfp2{
  height: 200px;
  width: 70%;
 }
.userDet2{
  display: none;
}
.bb{
  margin: 1rem;
}


.listCover{
  height: 90px;
  width: 160px;
}


@media (max-width: 767px) { 
  .book{
   display: flex!important;
   align-items: center!important;
   justify-content: center!important;   
  }  
}
@media (max-width: 576px){
  .pfp{
    width: 100%;
    margin-top: 2rem;
    margin-left: 0!important;
  }
  .pfp div{
    margin-left: 0!important
  }
  .pfp div img{
    height: 20vh;
  }
  .editBtn{
    margin-top: 1rem;
  }
  .userDet{
    display: none;
  }
  .userDet2{
    display: inline;
  }

  .userCounters{
    justify-content: center!important;
  }
}
    
