<% layout('../layouts/homeBoilerplate') %>
<div class="text-center text-light">
    <h1>BookShelf</h1>
    <p class="lead"> Welcome to BookShelf! <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum accumsan, <br>
        mi non lobortis porttitor, lorem erat tristique est, lobortis maximus.</p>
    <a href="/Books" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
        Books</a>
    </div>